@import '../../../../styles/variables';

.loader-wrap {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .loading-label-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: $dark-purple;
        font-family: sans-serif;

        .loading-title {
            margin-bottom: 10px;
            font-size: 24px;
        }

        .loading-text {
            white-space: pre-wrap;
        }
    }
}
