<div class="loader-wrap">

    <mat-progress-spinner
        [diameter]="330"
        [strokeWidth]="25"
        [value]="progressFormatted"
    >
    </mat-progress-spinner>

    <div class="loading-label-wrap">

        <div class="loading-title">
            {{ loadingTitle }}
        </div>

        <div class="loading-text">
            {{ loadingText }}
        </div>
    </div>
</div>
