@import '../../../../styles/variables';

.main-wrap {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-wrap {

        margin-top: 60px;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black-font;
        font-family: sans-serif;
    }

    .button-wrap {

        margin-top: 40px;

        .cta-button {

            cursor: pointer;
            font-size: 20px;
            color: $white;
            padding: 20px 30px;
            object-fit: contain;
            border-radius: 8px;
            box-shadow: 0 2px 8px 0 rgba(108, 108, 108, 0.33);
            background-image: linear-gradient(98deg, $coral, $light-coral);
            border: none;
            outline: inherit;

            &:hover {
                opacity: 0.8;
            }
        }

        .file-input {

            visibility: hidden;
            height: 0;
            width: 0;
        }
    }

    .prediction-wrap {

        width: 80%;
        display: flex;
        margin-top: 40px;
        margin-bottom: 60px;

        .predictions-container {

            width: 50%;

            .predictions {

                .predictions-title {

                    font-family: sans-serif;
                    font-size: 24px;
                    font-weight: 800;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $black-font-dark;
                }

                .filename {

                    margin-top: 5px;
                    font-family: sans-serif;
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $grey;
                }

                .predictions-wrap {

                    width: 80%;
                    display: flex;
                    flex-direction: column;

                    .prediction {

                        padding: 10px 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .prediction-name {

                            font-family: sans-serif;
                            font-size: 20px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: $black-font;
                        }

                        .prediction-percentage {

                            font-family: sans-serif;
                            font-size: 20px;
                            font-weight: 300;
                            font-style: normal;
                            font-stretch: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: $black-font;
                        }
                    }

                    .prediction:not(:last-child) {

                        border-bottom: 1px solid $dark-grey;
                    }
                }
            }
        }

        .image-container {

            width: 50%;

            .image-to-analyze {

                width: 100%;
            }
        }
    }
}
