<div class="main-wrap">

    <div class="title-wrap">
        Upload image to get prediction
    </div>

    <div class="button-wrap">

        <button
            class="cta-button"
            (click)="openFileUpload()"
        >
            UPLOAD IMAGE AND ANALYZE
        </button>

        <div>

            <input
                #fileInput
                class="file-input"
                (change)="onFileLoad($event)"
                type="file"
            >
        </div>
    </div>

    <div
        *ngIf="imageSrc"
        class="prediction-wrap"
    >

        <div class="predictions-container">

            <div
                *ngIf="predictions"
                class="predictions"
            >

                <div class="predictions-title">
                    RESULTS
                </div>

                <div class="filename">
                    {{ fileName }}
                </div>

                <div class="predictions-wrap">

                    <div
                        *ngFor="let prediction of predictions"
                        class="prediction"
                    >

                        <span class="prediction-name">
                            {{ prediction.className }}
                        </span>

                        <span class="prediction-percentage">
                            {{ prediction.probability | percent }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-container">

            <img
                #imageElement
                class="image-to-analyze"
                [src]="imageSrc"
            >
        </div>
    </div>
</div>
