@import '../../../../styles/variables';

.canvas-wrap {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        margin-top: 60px;
        margin-bottom: 40px;
        font-size: 24px;
        font-family: sans-serif;
        color: $black-font;
        font-weight: bold;
    }

    canvas {
        border: 1px solid lightgray;
    }
}
