<div class="canvas-wrap">

    <div class="title">
        Draw a number and get prediction
    </div>

    <canvas
        imgaDrawingCanvas
        [width]="canvasWidth"
        [height]="canvasHeight"
        (directiveReady)="onDrawingCanvasDirectiveReady($event)"
    >
    </canvas>
</div>

