<mat-tab-group
    [class.hidden]="!isCnnModelTrained"
>
    <div>
        <mat-tab label="Mobilenet Classifier">

            <imga-analyzer
                [model]="model"
            >
            </imga-analyzer>
        </mat-tab>

        <mat-tab
            label="CNN MNIST Classifier"
        >

            <imga-cnn-analyzer
                (analyzerReady)="onCnnAnalyzerReady($event)"
            >
            </imga-cnn-analyzer>
        </mat-tab>
    </div>
</mat-tab-group>

<imga-loader
    *ngIf="!isCnnModelTrained"
    [progress]="cnnModelTrainingProgress"
>
</imga-loader>

