@import '~@angular/material/theming';

@include mat-core();

$imga-primary: mat-palette($mat-red);
$imga-accent:  mat-palette($mat-yellow);

$imga-theme: mat-light-theme($imga-primary, $imga-accent);

@include angular-material-theme($imga-theme);
