
$dark-purple: #392362;
$purple: #473f56;

$coral: #4ccff7;
$light-coral: #8ae2ff;

$white: #ffffff;
$white-darker: #f7f7f7;

$grey: #c1c1c1;
$dark-grey: #a6a6a6;
$light-grey: #e3e3e3;

$red: #fa503a;
$orange: #ff8a6b;

$black-font: #606060;
$black-font-dark: #292929;
