.main-wrap {

    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    background: url("../../../../assets/images/header-background.png");
    background-size: cover;
    background-repeat: no-repeat;

    .logo-wrap {

        margin-left: 59px;

        img {
            height: 35px;
        }
    }
}
