@import '../../../../styles/variables';

.main-wrap {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loading-wrap {

        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            margin-top: 25px;
            font-size: 20px;
            font-family: sans-serif;
            color: $black-font;
        }
    }

    .title-wrap {

        margin-top: 60px;
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black-font;
        font-family: sans-serif;
    }

    .prediction-section-wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .button-wrap {

            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .cancel-button {
                cursor: pointer;
                font-size: 20px;
                color: $black-font-dark;
                padding: 20px 30px;
                object-fit: contain;
                border-radius: 8px;
                box-shadow: 0 2px 8px 0 rgba(108, 108, 108, 0.33);
                background-image: linear-gradient(98deg, $light-grey, $white);
                margin-right: 10px;

                &:hover {
                    opacity: 0.8;
                }
            }

            .cta-button {

                cursor: pointer;
                font-size: 20px;
                color: $white;
                padding: 20px 30px;
                object-fit: contain;
                border-radius: 8px;
                box-shadow: 0 2px 8px 0 rgba(108, 108, 108, 0.33);
                background-image: linear-gradient(98deg, $coral, $light-coral);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
        .predictions-container {

            margin: 50px 0;
            width: 100%;

            .predictions {

                .predictions-title {

                    font-family: sans-serif;
                    font-size: 24px;
                    font-weight: 800;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $black-font-dark;
                }

                .filename {

                    margin-top: 5px;
                    font-family: sans-serif;
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: $grey;
                }

            .predictions-wrap {

                width: 100%;
                display: flex;
                flex-direction: column;

                .prediction {

                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .prediction-name {

                        font-family: sans-serif;
                        font-size: 20px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: $black-font;
                    }

                    .prediction-percentage {

                        font-family: sans-serif;
                        font-size: 20px;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: $black-font;
                    }
                }

                .prediction:not(:last-child) {

                    border-bottom: 1px solid $dark-grey;
                }
            }
        }
    }
}
