<div class="main-wrap">

    <div
        *ngIf="!modelReady"
        class="loading-wrap"
    >
        <mat-spinner
            diameter="160"
            strokeWidth="10"
        >
        </mat-spinner>

        <div class="title">
            Loading model...
        </div>
    </div>

    <div
        *ngIf="modelReady"
        class="prediction-section-wrap"
    >

        <imga-drawing-canvas
            (drawingCanvasApiReady)="onDrawingCanvasApiReady($event)"
        >
        </imga-drawing-canvas>

        <div
            class="button-wrap"
        >

            <button
                class="cancel-button"
                (click)="onClearCanvas()"
            >
                CLEAR
            </button>

            <button
                class="cta-button"
                (click)="onPredict()"
            >
                GET PREDICTION
            </button>
        </div>

        <div class="predictions-container">

            <div
                *ngIf="predictions"
                class="predictions"
            >

                <div class="predictions-title">
                    RESULTS
                </div>

                <div class="predictions-wrap">

                    <div
                        *ngFor="let prediction of predictions"
                        class="prediction"
                    >

                        <span class="prediction-name">
                            {{ prediction.className }}
                        </span>

                        <span class="prediction-percentage">
                            {{ prediction.probability | percent }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
