<div
    [@fadeIn]
    class="main-wrap"
>

    <div class="left-wrap">

        <div class="title-wrap">

            <div class="title">
                IMGA
            </div>

            <div class="sub-title">
                — image classifier
            </div>
        </div>
    </div>

    <div class="right-wrap">

        <div class="content-wrap">

            <div class="content-first-text">
                Do you need to classify images?
            </div>

            <div class="content-second-text">
                Demo project of TensorFlowJS library features.
            </div>

            <div class="content-third-text">
                Project includes image classifier based on TensorFlowJS MobileNet model and handwritten numbers CNN classifier based on MNIST dataset.
            </div>

            <div class="button-wrap">

                <button class="cta-button">

                    <a
                        routerLink="/classifier"
                    >
                        LET'S START
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>
