@import '../../../../styles/variables';

@font-face {
    font-family: GraublauWeb;
    src: url("../../../../assets/fonts/uni-sans.heavy-italic-caps.otf") format("opentype");
}

.main-wrap {

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;

    .left-wrap {

        height: 100%;
        width: 50%;
        background: url("../../../../assets/images/home-page-left-part-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        .title-wrap {

            text-align: left;

            .title {

                font-family: sans-serif;
                font-size: 48px;
                font-weight: 900;
                font-style: italic;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $white-darker;
            }

            .sub-title {

                width: auto;
                font-family: serif;
                font-size: 24px;
                font-weight: 100;
                font-style: italic;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $white;
            }
        }
    }

    .right-wrap {

        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content-wrap {

            width: 480px;

            .content-first-text {

                font-family: sans-serif;
                font-size: 48px;
                font-weight: 800;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $dark-purple;
                margin-bottom: 20px;
            }

            .content-second-text {

                font-family: sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $purple;
                margin-bottom: 15px;
            }

            .content-third-text {

                font-family: sans-serif;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $purple;
                margin-bottom: 30px;
            }

            .button-wrap {

                .cta-button {

                    padding: 10px 20px;
                    background: linear-gradient(to right, $red, $orange);
                    font-weight: 600;
                    font-size: 18px;
                    border-radius: 60px;
                    border: none;
                    cursor: pointer;

                    a {
                        color: $white;
                        text-decoration: none;
                    }

                    :hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
}
